<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <% function capitalize(string) {
        // https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript
        return string[0].toUpperCase() + string.substring(1)
    } %>
    <div class="container">
        <h1>People</h1>
        <% results.forEach(function(r) { %>
            <ul>
                <% if (r.type == null) { %>
                    <li><svg width="<%= r.size + 34 %>" height="<%= r.height + 4 %>">
                        <rect x="2" y="2" rx="15" width="<%= r.size + 30 %>" height="<%= r.height %>"
                        style="fill:#ccc;stroke:#999;stroke-width:3" />
                        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                            <a href="/person/<%= r.id %>"><%= r.name.trim() == "" ? 'Anonymous' : capitalize(r.name.trim()) %></a>
                        </text>
                    </svg></li>
                <% } else if (r.type.trim() == 'male') { %>
                    <li><svg width="<%= r.size + 34 %>" height="<%= r.height + 4 %>">
                        <rect x="2" y="2" rx="15" width="<%= r.size + 30 %>" height="<%= r.height %>"
                        style="fill:blue;stroke:#999;stroke-width:3" />
                        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                            <a href="/person/<%= r.id %>"><%= r.name.trim() == "" ? 'Anonymous' : capitalize(r.name.trim()) %></a>
                        </text>
                    </svg></li>
                <% } else { %>
                    <li><svg width="<%= r.size + 34 %>" height="<%= r.height + 4 %>">
                        <rect x="2" y="2" rx="15" width="<%= r.size + 30 %>" height="<%= r.height %>"
                        style="fill:pink;stroke:#999;stroke-width:3" />
                        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
                            <a href="/person/<%= r.id %>"><%= r.name.trim() == "" ? 'Anonymous' : capitalize(r.name.trim()) %></a>
                        </text>
                    </svg></li>
                <% } %>
                <li><%= r.fame %></li>
                <li>
                    <% if(r.income < '$50,000.00') { %>
                        $
                    <% } else if(r.income >= '$50,000.00' && r.income < '$100,000.00') { %>
                        $$
                    <% } else if(r.income >= '$100,000.00' && r.income < '$250,000.00') { %>
                        $$$
                    <% } else { %>
                        $$$$
                    <% } %>
                </li>
            </ul>
        <% }); %>
    </div>
</body>
</html>