<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header") %>
</head>

<body>
    <%- include ("../partials/nav") %>
    <% function capitalize(string) {
        // https://stackoverflow.com/questions/1026069/how-do-i-make-the-first-letter-of-a-string-uppercase-in-javascript
        return string[0].toUpperCase() + string.substring(1)
    } %>
    <div class="container">
        <div class ="display">
            <h1>Person</h1>
            <ul>
                <% results.forEach(function(r) { %>
                    <li><p><strong>Name:</strong> <%= capitalize(r.name.trim()) %></p></li>
                    <li><p><strong>Size:</strong> <%= r.size %></p></li>
                    <li><p><strong>Height:</strong> <%= r.height %></p></li>
                    <li><p><strong>Type:</strong> <%= capitalize(r.type.trim()) %></p></li>
                    <button id="edit" onclick="location.href='/person/<%= r.id %>/edit'">Edit</button>
                    <button id="delete" onclick="location.href='/person/<%= r.id %>/delete'">Delete</button>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>